{% extends 'base.html.twig' %}

{% block body %}

    <!-- CONTACT -->
    <div class="module">

        <div class="container">

            <!-- MODULE TITLE -->
            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <h2 class="module-title align-center font-alt">{{ 'Get in touch'|trans }}</h2>

                    <div class="module-subtitle align-center font-inc">
                        {{ 'Description contact'|trans }}
                    </div>

                </div>

            </div>
            <!-- /MODULE TITLE -->

            <!-- CONTACT FORM -->
            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    {% for type, flash_messages in app.session.flashBag.all %}
                        {% for flash_message in flash_messages %}
                            <div class="flash-{{ type }}">
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <form id="contact-form" action="{{ path('app_contact', {'_locale':app.request.locale}) }}" method="POST">

                        <div class="form-group">
                            <label class="sr-only" for="cname">{{ 'Name'|trans }}</label>
                            <input type="text" id="cname" class="form-control" name="cname" placeholder="{{ 'Name'|trans }}" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="cemail">{{ 'Your Email'|trans }} </label>
                            <input type="email" id="cemail" name="cemail" class="form-control" placeholder="{{ 'Your Email'|trans }}" required="" data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" id="cmessage" name="cmessage" rows="7" placeholder="Message" required="" data-validation-required-message="Please enter your message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="g-recaptcha" data-sitekey="6LfpWUcUAAAAAAKykP9HJ-gerEXWvhWX_l1opsBu"></div>

                        <button type="submit" class="btn btn-round btn-g">{{ 'Submit'|trans }}</button>

                    </form>
                </div>

            </div>
            <!-- /CONTACT FORM -->

        </div>

    </div >
    <!-- /CONTACT -->
{% endblock %}
