{% extends 'base.html.twig' %}

{% block body %}
    <!-- BLOG STANDART 2 -->
    <div class="module-small">

        <div class="container">

            <div class="row">

                <div class="col-sm-8 col-sm-offset-2">

                    <!-- POST -->
                    <div class="post margin_top_rb">

                        <div class="post-thumbnail">
                            <img src="{{ asset(post.cover) }}" alt="">
                        </div>

                        <div class="post-header">
                            <h1 class="post-title font-alt"><a href="blog-single.html">{{ post.title }}</a></h1>
                            <div class="post-meta font-inc">
                                {{ post.createdAt|date('d-m-Y') }} | {{ post.comments|length }} {{ 'Comments'|trans }} | <a class="increase-likes" href="{{ path('app_increase_likes', {'post_id':post.id }) }}"><span aria-hidden="true" class="icon-heart"></span> <span class="counter">{{ post.likes }}</span></a>
                            </div>
                        </div>

                        <div class="post-entry">
                            {{ post.body|raw }}

                        </div>

                    </div>
                    <!-- /POST -->

                    <!-- COMMENTS-->
                    {% if post.comments|length > 0 %}
                    <div class="comments">
                        <h4 class="comment-title font-alt">{{ post.comments|length}} {{'comments'|trans }}</h4>

                        {% for comment in post.comments %}
                        <!-- COMMENT 1 -->
                        <div class="comment clearfix">

                            <div class="comment-content clearfix">

                                <div class="comment-author font-inc">
                                    {{ comment.createdBy }}
                                </div>

                                <div class="comment-body">
                                    <p>{{ comment.body }}</p>
                                </div>

                                <div class="comment-meta font-inc">
                                    {{ comment.createdAt|date('d-m-Y') }}
                                </div>

                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    {% endif %}
                    <!-- /COMMENTS -->

                    <!-- COMMENT FORM -->
                    <div class="comment-form">
                        <h4 class="comment-form-title font-alt">{{ 'Add your comment'|trans }}</h4>

                        <form method="POST" action="{{ path('app_blog_show', {'_locale': app.request.locale, 'slug': post.slug}) }}">
                            <div class="form-group">
                                <label class="sr-only" for="name">{{ 'Name'|trans }}</label>
                                <input type="text" id="name" class="form-control" name="name" placeholder="{{ 'Name'|trans }}">
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="email">{{ 'Email'| trans }}</label>
                                <input type="text" id="email" class="form-control" name="email" placeholder="{{ 'Email'| trans }}">
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" id="comment" name="comment" rows="6" placeholder="{{ 'Comment'|trans }}"></textarea>
                            </div>

                            <button type="submit" class="btn btn-round btn-g">{{ 'Post comment'|trans }}</button>

                        </form>

                    </div>
                    <!-- COMMENT FORM -->

                </div>

            </div>

        </div>

    </div >
    <!-- /BLOG STANDART 2 -->
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript">
        $(function() {
            $('body').on('click', '.increase-likes', function(e) {
                e.preventDefault();
                var thus = $(this);
                var url = $(this).attr('href');
                $.ajax({
                  url: url,
                  success: function(data) {
                    thus.children('span.counter').text(data.html);
                  }
                });
            })
        });
    </script>
{% endblock %}
