<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ 'seo.site_title' }}</title>

    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('theme/assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Plugins -->
        <link href="{{ asset('theme/assets/css/simpletextrotator.css') }}" rel="stylesheet">
        <link href="{{ asset('theme/assets/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('theme/assets/css/et-line-font.css') }}" rel="stylesheet">
        <link href="{{ asset('theme/assets/css/magnific-popup.css') }}" rel="stylesheet">
        <link href="{{ asset('theme/assets/css/flexslider.css') }}" rel="stylesheet">
        <link href="{{ asset('theme/assets/css/animate.css') }}" rel="stylesheet">

        <!-- Template core CSS -->
        <link href="{{ asset('theme/assets/css/style.css') }}" rel="stylesheet">

        <!-- Custom css -->
        <link href="{{ asset('theme/assets/css/custom.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/styles.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>

    <!-- PRELOADER -->
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- /PRELOADER -->

    {{ render(controller('AppBundle:Menu:menu',{})) }}

    <!-- WRAPPER -->
    <div class="wrapper">

    {% block body %}
    {% endblock %}

    {% include 'footer/footer.html.twig' %}

    </div>
    <!-- /WRAPPER -->

    <!-- Scroll-up -->
    <div class="scroll-up">
        <a href="#totop"><i class="fa fa-angle-double-up"></i></a>
    </div>

    {% block javascripts %}
    <!-- Javascript files -->
    <script src="{{ asset('theme/assets/js/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ asset('theme/assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('theme/assets/js/jquery.mb.YTPlayer.min.js') }}"></script>
    <script src="{{ asset('theme/assets/js/appear.js') }}"></script>
    <script src="{{ asset('theme/assets/js/jquery.simple-text-rotator.min.js') }}"></script>
    <script src="{{ asset('theme/assets/js/jqBootstrapValidation.js') }}"></script>
    <script src="{{ asset('theme/assets/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('theme/assets/js/imagesloaded.pkgd.js') }}"></script>
    <script src="{{ asset('theme/assets/js/jquery.flexslider-min.js') }}"></script>
    <script src="{{ asset('theme/assets/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('theme/assets/js/jquery.fitvids.js') }}"></script>
    <script src="{{ asset('theme/assets/js/smoothscroll.js') }}"></script>
    <script src="{{ asset('theme/assets/js/wow.min.js') }}"></script>
    <script src="{{ asset('theme/assets/js/custom.js') }}"></script>
    {% endblock %}

</body>

</html>
