<!-- NAVIGATION -->
<nav class="navbar navbar-custom navbar-fixed-top {%if currentRoute == 'app_home' %}navbar-transparent{% endif %}" >

        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('app_home')}}">Pierre Yves Gervais</a>
            </div>

            <div class="collapse navbar-collapse" id="custom-collapse">

                <ul class="nav navbar-nav navbar-right">

                    <li><a href="{{ path('app_home', {'_locale': app.request.locale }) }}">{{ 'Home'|trans }}</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ "Portfolio"|trans }}</a>
                        <ul class="dropdown-menu" role="menu">

                            {% for category in categories %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ category.title }}</a>
                                <ul class="dropdown-menu">
                                    {% for subcategory in category.subcategories %}
                                        <li><a href="{{ path('app_home', {'_locale':app.request.locale}) }}">{{ subcategory.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="{{ path('app_contact', {'_locale': app.request.locale})}}">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.request.locale }}</a>
                        <ul class="dropdown-menu" role="menu">
                            {% for locale in ['fr', 'en'] %}
                                <li>
                                    <a href="{{ path('app_home', {'_locale': locale})}}">{{ ('menu_locale.'~locale)| trans }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>

                </ul>
            </div>

        </div>

</nav>
<!-- /NAVIGATION -->
