{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <h3>Painting edit</h3>

    {{ form_start(edit_form) }}
        {{ form_row(edit_form.subcategory)}}
        {{ form_row(edit_form.title)}}
        <button class="btn" type="button" data-toggle="collapse" data-target="#titleEn" aria-expanded="false" aria-controls="collapseExample">
            Anglais
        </button>
        <div class="collapse" id="titleEn">
            {{ form_row(edit_form.titleEn)}}
        </div>
        {{ form_row(edit_form.thumbnail)}}
        {{ form_row(edit_form.image)}}
        {{ form_row(edit_form.createdAt)}}
        <input class='btn btn-success' type="submit" value="Edit" />
    {{ form_end(edit_form) }}


    <ul>
        <li>
            <a href="{{ path('painting_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

